html,
body{
  margin:0;
  padding:0;

  width:100%;
  height:100%;

  overflow:hidden;
}

/* EN Quest画面 */
.quest-screen{
  position:relative;

  width:100vw;
  height:100vh;

  background-image:url("../assets/images/enquest-main.PNG");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* 透明ボタン共通 */
.quest-hotspot{
  position:absolute;
  display:block;

  text-decoration:none;
}

/* NAME ARENA */
.quest-namearena{
  left:4%;
  top:23%;

  width:43%;
  height:17%;
}

/* LISTENING WALK PARK */
.quest-listening{
  left:4%;
  top:42%;

  width:43%;
  height:17%;
}

/* ENERGY STAGE */
.quest-energy{
  left:4%;
  top:61%;

  width:43%;
  height:17%;
}
.quest-hotspot{
  position:absolute;
  display:block;

  background:red;
  opacity:0.3;

  border:2px solid white;
}